@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nata+Sans:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Slackey&display=swap");

.category_header .header {
  margin: 5px;
  padding: 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Nata Sans", sans-serif;
  font-size: 14.8px;
  width: 100%;
  display: flex;
  text-align: center;
  gap: 5px;
}

/* kay all coffee categ */
.category_header .header:first-of-type svg {
  width: 24px;
  height: 24px;
}

/* rem categs */
.category_header .header svg {
  width: 24px;
  height: 24px;
}

/* kapag inactive ang header (default) */
.category_header .header {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #9c9c9c;
}

.category_header .header svg {
  background: #ffffff;
  border-radius: 5px;
  fill: #9c9c9c;
  padding: 5px 10px 5px 10px;
  box-sizing: content-box;
}

/* kapag active ang header */
.category_header .header.active {
  background: #f3dec3;
  color: #39261f;
  border: 1px solid #f3dec3;
}

.category_header .header.active svg {
  background: #f3dec3;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  box-sizing: content-box;
  /* fill: #39261F; */
}

.category_header .header.active svg path {
  transition: 0.2s ease-in-out;
  fill: #39261f;
}

.category_header .header.active:hover svg {
  background: #f3dec3;
}

/* kung ano ang logic, dapat 'yung ang kabitan */
.category_header .header.active:hover svg path {
  fill: #39261f;
}

.category_header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 39.75vw; */
  gap: 5px;
  margin-top: 5px;
}

.stickyHeader {
  /* make the header stick to the top while scrolling */
  position: sticky;
  /* ensure a solid background so content scrolls under it cleanly */
  background: #f9f8f5;
  z-index: 1000;
  top: 0;
  padding: 10px 20px 5px 20px;
  border-radius: 10px;
}

a.header {
  /* max-width: 75%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  /* width: 39.75vw; */
}

/* hover sa background ng header */
.header:hover {
  background: var(--tertiary-color);
  border: 1px solid #39261f;
  color: #ffffff;
}

/* hover para kasama background ng icon */
.category_header .header:hover svg {
  background: var(--tertiary-color);
}

/* hover para kasama kulay ng icon */
.category_header .header:hover svg path {
  fill: #ffffff;
}

/* Container for cards */
.category .card-container {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

.no-selection-message {
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-selection-message h1 {
  color: #4e3232;
  font-size: larger;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

/* Individual card */
.card {
  border: 0.25px solid #f2efee;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 290px;
  height: 282px;
  background: #fff;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* left-right, tom-bottom, blurriness, size*/
  box-shadow: 1px 1px 15px 0.05px rgba(161, 161, 161, 0.75);
  /* box-shadow: -20px 20px 69px 1px rgba(223, 227, 250, 0.77); */
  /* box-shadow: -15px 20px 40px 9px rgba(49, 49, 224, 0.35); */
}

.card:hover {
  /* transform: translateY(-5px); */
  border: 0.25px solid var(--secondary-color);
}

.button_itemProperties button:hover {
  cursor: pointer;
}

.card h4 {
  font-size: 18px;
  color: #333;
}

.card p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

/* PAGITAN */
/* .search-container {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    margin-top: 20px;
} */

.searchProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  /* padding: 0px 5px 0px 5px; */
  /* width: 39.2vw; */
  /* margin-left: 4px; */
  /* width: 39.75vw; */
  /* margin-top: 45px; */
}

.searchProduct button {
  border-radius: 0 10px 10px 0;
  padding: 20px 10px;
  width: calc(100% - 25rem);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  font-size: 16px;
  font-family: "Nata Sans", sans-serif;
}

.searchProduct button:hover {
  cursor: pointer;
}

#search-product {
  border: 0.01px solid #4e3232;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  width: calc(100% - 5rem);
  padding: 20px 10px;
  font-size: 16px;
  font-family: "Nata Sans", sans-serif;
}

input#search-product {
  text-align: left;
}

/* main-content */
.main-content {
  /* display: grid;
    padding: 0;
    grid-template-columns: repeat(12, 1fr); */
  /* gap: 15px; */
  /* flex: 1 1 auto; */
  /* position: absolute; */
  top: 0;
  display: flex;
  width: 100%;
  padding-left: 16vw;
}

.product-content {
  /* grid-column: span 10; */
  /* padding: 20px 0px 20px 0px; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  /* margin-left: 20px; */
  /* margin-top: 50px; */
  /* padding-top: 80px; */
}

/* coffee information */
.item-description {
  display: flex;
}

.item-description img {
  max-width: 122px;
  max-height: 122px;
  min-width: 122px;
  min-height: 122px;
  border-radius: 10px;
}

.if-second-card {
  padding: 3px 0px 0px 12px;
  position: relative;
}

.if-second-card h4 {
  font-family: "Nata Sans", sans-serif;
  color: #281508;
  font-size: 21px;
  font-weight: 600;
}

.if-second-card p {
  position: absolute;
  bottom: 5px;
  font-family: "Nata Sans", sans-serif;
  color: #281508;
  font-size: 18px;
  font-weight: 600;
}

.item-properties {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
}

.item-properties-card .title {
  color: #281508;
  font-family: "Nata Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

/* LAKI saka SUGAR-CONTENT */
.item-properties-card .ip-variety {
  margin-top: 5px;
  padding: 0px 4px 0px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

/* .item-properties-card .ip-variety input {
    width: 35px;
    height: 35px;
    background: #D9D9D9;
    color: #281508;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.item-properties-card .ip-variety input:hover {
    background: var(--secondary-color);
    color: #FFFFFF;
    font-weight: 600;
} */

/* .item-properties-card .ip-variety button:focus {
    background: var(--secondary-color);
    color: #FFFFFF;
    font-weight: 600;
} */

/* .ip-variety button.active {
    background-color: var(--secondary-color);
    color: #fff;
}

.item-properties-card button.active {
    background-color: var(--secondary-color);
    color: #fff;
} */

/* add button ngani */
.card .button_itemProperties {
  margin-top: 15px;
}

.card .button_itemProperties button {
  width: 100%;
  padding: 10px 0px 10px 0px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: var(--primary-color);
  color: white;
}

/* PAGITAN/HATI*/
.cart-content {
  /* grid-column: span 2; */
  /* position: fixed;  */
  /* width: 32.65vw; */
  width: 70%;
  height: 100vh;
  position: sticky;
  top: 6px;
  /* border: 1px solid black; */
  padding: 20px;
  padding-left: 0px;
}

.cart .top-cart,
.cart .btm-cart {
  /* height: 100%; */
}

.cart {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 98%;
  position: relative;
  border-radius: 10px 10px 10px 10px;
}

.cart::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;

  background: repeating-linear-gradient(
        90deg,
        var(--primary-color) 0 1px,
        transparent 8px 16px
      )
      0 0/100% 2px no-repeat,
    /* taas */
      repeating-linear-gradient(
        90deg,
        var(--primary-color) 0 1px,
        transparent 8px 16px
      )
      0 100%/100% 2px no-repeat,
    /* baba */
      repeating-linear-gradient(
        180deg,
        var(--primary-color) 0 1px,
        transparent 8px 16px
      )
      0 0/2px 100% no-repeat,
    /* kaliwa */
      repeating-linear-gradient(
        180deg,
        var(--primary-color) 0 1px,
        transparent 8px 16px
      )
      100% 0/2px 100% no-repeat;
}

.cashier {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.cashier p {
  background: #fffcfb;
  color: #cdcdcd;
  border: 1px solid var(--primary-color);
  border-radius: 50px 0 0 50px;
  padding: 11px 5px 11px 55px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 100%;
}

.cashier a {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 0 10px 10px 0;
  padding: 7px 20px 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashier div svg {
  display: inline-block;
  padding: 3px 5px 3px 5px;
  background: var(--primary-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  box-sizing: content-box;
  position: absolute;
  left: 25px;
  transform: translate(-50%, -50%);
}

.cashier div svg path {
  fill: #ffffff;
}

/* linya */
.lalagyan {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
    position: absolute;
    top: 450px;
    left: 0;
    right: 0; */
}

.linya {
  border: 1px solid black;
  width: 100%;
  height: 1px;
}

/* billing stuff */
/* .billingPoMaem { */
/* width: 100%;
    position: absolute;
    top: 450px;
    right: 0;
    height: 130px; */
/* border-top: 2.5px solid #281508; */
/* } */

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  gap: 225px;
  width: 100%;
}

.billing tbody {
  /* max-width: 25vw; */
  width: 100%;
}

.billing tbody {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.billing {
  padding: 10px;
  border-radius: 10px;
}

table.billing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing .redBrown {
  font-family: "Nata Sans", sans-serif;
  color: #281508;
  font-size: 21.14px;
  font-weight: 600;
}

.billing .grey {
  font-family: "Nata Sans", sans-serif;
  color: #8d8989;
  font-size: 14.1px;
  font-weight: 400;
}

/* print btn */
.receiptPrint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.print {
  /* position: absolute;
    top: 588px; */
  padding: 10px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fffcfb;
  border-radius: 10px;
  /* width: calc(100% - 4.5rem); */
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.print:hover {
  color: #4e3232;
  background: #fffcfb;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
}

/* unfinished mark*/

.cartContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.leftPartitionCart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.centerPartitionCart {
    margin-top: 2.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.coffeeName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.qntt p {
    color: #281508;
    font-weight: 600;
    font-size: 12.81px;
}

p {
    font-weight: 300;
    font-size: 14.1px;
    font-family: "Nata Sans", sans-serif;
    color: #8D8989;
}

.qntt {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qntt .decrease {
    border: 2px solid var(--secondary-color);
    border-radius: 50px 0 0 50px;
    background: #fff;
    color: var(--secondary-color);
    font-weight: 600;
    padding: 8px 10px 8px 10px;
}

.qntt .increase {
    border: 2px solid var(--secondary-color);
    border-radius: 0 50px 50px 0;
    background: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    padding: 8px 10px 8px 10px;
}

.qntt .decrease:hover {
    border: 2px solid var(--tertiary-color);
    background: #fff;
    color: var(--tertiary-color);
    cursor: pointer;
}

.qntt .increase:hover {
    border: 2px solid var(--tertiary-color);
    background: var(--tertiary-color);
    cursor: pointer;
}

.qntt .deleteBtn {
    border: none;
    background: none;
}

.deleteBtn svg path:hover {
    cursor: pointer;
    fill: #8d0000;
}

.deleteBtn svg {
    width: 20px;
    height: 20px;
}

.qntt button {
    border: 1px solid var(--secondary-color);
    padding: 8px;
}

.cartItems {
    padding: 20px;
}

.rightPartitionCart {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    width: 100%;
}

.rightPartitionCart button svg path {
    fill: #FFFFFF;
}

button {
    padding: 10px;
}

button.confirmDelete {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    height: 80px;
}

button.cancelDelete {
    background: #FF4848;
    border: 1px solid #FF4848;
    height: 80px;
}

.orderItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coffeeName h4 {
    max-width: 50px;
    min-width: 50px;
}

/* 
.orderItems {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Display Fair", serif;
    position: absolute;
    top: 50;
    top: 140px;
    left: 200px;
} */

/* unfinished mark*/

.size-label,
.sugar-label {
    height: 40px;
    width: 40px;
    border: 1px solid #D9D9D9;
    background: #D9D9D9;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    overflow: hidden;
    text-align: center;
}

.size-label input,
.sugar-label input {
    display: none;
}

.size-label:hover,
.sugar-label:hover {
    background: var(--tertiary-color);
    color: #FFFFFF;
    font-weight: 600;
    border: 1px solid var(--tertiary-color);
}

.size-label span,
.sugar-label span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
.size-label input:checked+span {
    background: var(--secondary-color);
    color: #fff;
    border-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
} */

.size-label:has(input:checked),
.sugar-label:has(input:checked) {
    background: var(--secondary-color);
    color: #fff;
    border: 1px solid var(--secondary-color);
}

.noItemInCart {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

