@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nata+Sans:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Slackey&display=swap");

.main-content {
    display: flex;
    flex-direction: column;
    top: 0;
    padding-left: 16vw;
    width: 100%;
    height: 100%;
}

.upperContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
}

.searchBar input {
    text-align: flex-start;
    outline: none;
    border-radius: 5px 0 0 5px;
    padding: 20px;
    /* border: 1px solid #8b8b8b; */
    /* border: 1px solid rgba(212, 209, 209, 0.5); */
    border: 0.01px solid #4e3232;
    border-right: none;
    background: #f9f8f5;
    color: #CDCDCD;
    max-width: 637.77px;
    width: 100%;
}

.searchBar button {
    text-align: center;
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--tertiary-color);
    box-shadow: 0px 0px 3.5px 0.85px rgba(212, 209, 209, 1);
    padding: 20px;
    border-left: none;
    background: var(--tertiary-color);
    color: #fff;
    max-width: 170px;
    width: 100%;
}

.profile {
    /* border: 1px solid #212121;
    border-radius: 0 0 0 5px;
    border-top: none;
    border-right: none; */
    background: #f9f8f5;
    max-width: 250px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.profileInfo p {
    font-weight: 400;
    font-family: "Nata Sans", sans-serif;
    text-align: flex-start;
    padding-left: 20px;
}

.profileName p {
    color: #000;
    font-size: 16px;
}

.profilePosition p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 15px;
}

.profile svg {
    background: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--primary-color);
    box-sizing: content-box;
    /* position: absolute;
    transform: translate(-50%, -50%);
    left: 40px; */
    width: 20px;
    height: 20px;
}

.profile svg path {
    fill: #fff;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.mainContainerUpper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    gap: 20px;
}

.mainContainer .firstBox {
    width: 100%;
    /* height: 514.5px; */
    height: 215px;
    border: 1px solid rgba(212, 209, 209, 0.5);
    border-radius: 5px;
    background: #fff;
    /* left-right, tom-bottom, blurriness, size*/
    box-shadow: 0px 0px 3.5px 0.85px rgba(212, 209, 209, 1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.firstBox .firstBoxChild {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 120px;
    gap: 20px;
}

.firstBox .managementOverview {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.managementOverview .managementIcon {
    background: #281508;
    padding: 41px 25px 41px 25px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #281508;
    border-right: none;
    width: 90px;
    height: 124.4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.managementOverview svg path {
    fill: #fff;
}

.managementOverview .managementInfo {
    padding: 20px;
    background: #fff;
    border: 1px solid rgba(212, 209, 209, 0.5);
    /* border: .25px solid #f2efee; */
    box-shadow: 0px 0px 3.5px 0.85px rgba(212, 209, 209, 1);
    /* box-shadow: 1px 1px 15px 0.05px rgba(161, 161, 161, 0.75); */
    border-radius: 0 10px 10px 0;
    width: 100%;
    border-left: none;
    height: 124.4px;
}

.managementOverview h3 {
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    font-family: "Nata Sans", sans-serif;
}

.managementOverview h2 {
    color: #212121;
    font-size: 32px;
    font-weight: 700;
    font-family: "Nata Sans", sans-serif;
}

.managementOverview hr {
    border: 1px solid #212121;
}

.managementOverview p {
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    font-weight: 400;
}

.mainContainer .secondBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.secondBox .sbChild {
    width: 723px;
    height: 247.5px;
    background: #fff;
    /* border: 0.25px solid #8b8b8b;
    box-shadow: 1px 1px 15px 0.01px rgba(161, 161, 161, 0.35); */
    border: 1px solid rgba(212, 209, 209, 0.5);
    box-shadow: 0px 0px 3.5px 0.85px rgba(212, 209, 209, 1);
    border-radius: 5px;
    padding: 20px;
}

.mainContainer .thirdBox {
    /* width: 1117px; */
    height: 397px;
    border: 1px solid rgba(212, 209, 209, 0.5);
    border-radius: 5px;
    /* margin-top: 20px; */
    background: #fff;
    box-shadow: 0px 0px 3.5px 0.85px rgba(212, 209, 209, 1);
    padding: 20px;
}

.mainContainer h1 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    font-family: "Nata Sans", sans-serif;
}