@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nata+Sans:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Slackey&display=swap');

:root {
    /* --primary-color: #ff8533; */
    --primary-color: #4E3232;
    --secondary-color: #006633;
    --tertiary-color: #39261F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f9f8f5;
    font-family: "Nata Sans", sans-serif;
}

/* .layout {
    display: flex;
} */

/* sa heading 'to */
.heading {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 29px;
    gap: 5px;
}

.heading h1 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 39.65px;
    line-height: auto;
    color: #281508;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

/* div ng buong nav */
.navbar {
    background: #FFFCFB;
    width: 16vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* div child nav */
.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.nav ul li {
    padding: 20px 30px 20px;
    border: 1px solid #FFFCFB;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    background: #FFFCFB;
    color: black;
}

.nav ul li.active {
    background: #4E3232;
    transition: all .2s ease-in-out;
    color: white;
    fill: white;
}

.nav ul li a {
    font-family: "Nata Sans", sans-serif;
    text-decoration: none;
    text-align: center;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav ul li a svg path {
    fill: black;
}

.nav ul li:first-of-type a svg {
    width: 24px;
    height: 24px;
}

.nav ul li a svg {
    width: 20px;
    height: 20px;
}

.nav ul li.active a svg path {
    transition: all .2s ease-in-out;
    fill: white;
}

.nav ul li:hover {
    background: #4E3232;
    color: white;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.nav ul li:hover a svg path {
    fill: white;
    transition: .2s ease-in-out;
}