*{
  font-family: "Nata Sans", sans-serif;
}

.main-content {
  flex: 1 1 auto;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 16vw;
}

.pageHeader {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}
.pageHeader h3 {
  font-size: 32px;
  font-weight: 700;
}

.addButton button{
  padding: 6px 8px 6px 8px;
  background-color: #F3DEC3;
  border: none;
  border-radius: 8px;
  width: 130px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

/* .main-content,
.pageHeader {
  flex: 1 1 auto;
  display: flex;
} */

.searchBar form {
  display: flex;
  align-items: center;
}

.searchBar form input,
.searchBar form button {
  height: 40px;
}

.searchBar form input {
  padding: 8px;
  border-radius: 5px 0 0 5px;
  outline: none;
  border-right: none;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  width: 250px;
}

.searchBar form input::placeholder {
  color: #cdcdcd;
}

.searchBar form button {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid #000;
  width: 100px;
}
.content {
  margin-right: 320px;
  padding: 20px;
}

.inventory {
  margin: 20px;
}

/* Layout styles */
/* .main-container {
  display: flex;
} */

.stocks {
  width: 100%;
  border-spacing: 0;
  text-align: center;
}

.stocks th {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 6px;
}

.stocks th:first-of-type {
  border-left: 1px solid #000;
  border-radius: 15px 0 0 15px;
}

/* .stocks th:first-of-type {
  align-content: start;
}

.stocks td :first-of-type {
  align-content: flex-start;
} */

.stocks th:last-of-type {
  border-right: 1px solid #000;
  border-radius: 0 15px 15px 0;
}

.stocks td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  padding: 8px;
}
